@font-face {
  font-family: 'wavehaus';
  src: url('./assets/fonts/wavehaus/Wavehaus-28Thin.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'wavehaus';
  src: url('./assets/fonts/wavehaus/Wavehaus-42Light.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'wavehaus';
  src: url('./assets/fonts/wavehaus/Wavehaus-66Book.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'wavehaus';
  src: url('./assets/fonts/wavehaus/Wavehaus-95SemiBold.otf');
  font-weight: 600;
}
@font-face {
  font-family: 'wavehaus';
  src: url('./assets/fonts/wavehaus/Wavehaus-128Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'wavehaus';
  src: url('./assets/fonts/wavehaus/Wavehaus-158ExtraBold.otf');
  font-weight: 900;
}

html,
body,
div {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden !important; */
  font-family: 'wavehaus', sans-serif;
}

code {
  font-family: 'wavehaus', sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

/* */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

hr {
  margin: 0;
  padding: 0;
  border: none !important;
}

 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 /* Firefox */
 input[type='number'] {
   -moz-appearance: textfield;
 }